<ion-content>
  <ion-slides pager="true" scroll-bar-background-active	>

      <ion-slide class="alinearVertical">
          <div class="slide">
              <img src="../../../assets/img/paciente.gif" />
              <h1> Bienvenido a </h1>
              <h2> IAPEX Móvil Búsqueda </h2>
          </div>
      </ion-slide>

      <ion-slide class="alinearVertical">
          <div class="slide">
              <img src="../../../assets/img/hospital.gif" />
              <h2> IAPEX Móvil Búsqueda</h2>
              <p> Búsqueda de <b>familiares no localizados. </b></p>

              <div class="contenedor" class="ion-padding">
                  <ion-button mode="ios" size="block" (click)="irA('inicio')"> Empezar
                  <ion-icon slot="end" name="arrow-forward"></ion-icon>
                  </ion-button>
              </div>
          </div>
      </ion-slide>

  </ion-slides>

</ion-content>
